/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

* {
	margin: 0;
	padding: 7px;
}

body {
	font-family: Arial,Verdana,Helvetica,sans-serif;
	background-color: rgb(189, 186, 186);
}

#header {
	height: 145px;
	width: auto;
	margin-top: -5px;
	background-color: #E6E3E3;
}

#left_header {
	height: 150px;
	width: 600px;
	float: left;
}

#left_header img {
	margin-top: 50px;
	margin-bottom: 35px;
	margin-left: 180px;
	margin-right: 180px;
}

#right_header {
	margin-top: 15px;
	/*margin-left: 50px;*/
	margin-right: 60px;
	float: right;
}

.default_button {
	background-color:#f8f8f8;
	border:1px solid #dadada;
	color:#666;
	height: 40px;
	width: 110px;
}

.default_button:hover,.default_button.active {
	background:#fff;
	cursor: pointer;
}

#textfield_procuraJogo {
	height: 30px;
	width: 400px;
	font-size: 18px;
}

/*.field_login {
	margin-top: 15px;
	margin-left: 90px;
}

.field_login button {
	margin-right: 100px;
}*/

#menu {
	background-color: rgb(189, 186, 186);
}

#menu ul {
	height: 40px;
	margin-left: 165px; /*posicionamento menu todo  */
	list-style: none;
}

#menu li {
	display: inline;
	margin-right: 70px; /*margem entre cada link  */
}

#menu a {
	text-decoration: none;
	color: black;
	font-size: 18px;
	/*font-weight: bold;*/
	line-height: 20px;
	padding: 25px;
}

#menu a:hover {
	color: #E6E3E3;
}

#sub_menu {
	background-color: #E6E3E3;
}

#top_central_content ul {
	list-style: none;
}

#top_central_content li {
	display: inline;
	margin-right: 65px;
	margin-left: 65px;
}

#top_central_content a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: bold;
}

#content {
	height: 450px;
	background-color: #E6E3E3;
	margin-top: -20px;
}

#central_content {
	float: left;
	height: 400px;
	width: 980px;
	margin-top: 20px;
	margin-left: 180px;
	margin-right: 180px;
	margin-bottom: 20px;
	background-color: white;
}

#middle_central_content {
	text-align: center;
	margin-top: 25px;
	height: 310px;
	overflow: scroll;
	width: 450px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#top_central_content {
	margin-top: -7px;
	margin-left: -7px;
	background-color: rgb(189, 186, 186);
	height: 30px;
	width: 980px;
}

#top_central_content p {
	float: right;
	margin-right: 60px;
	margin-top: 3px;
}

#footer {
	text-align: center;
	color: white;
}

.action-buttons {
	text-align: center;
   	margin-top: 50px;
}

.action-buttons a {
	color: #6e5e38;
	border: 1px solid #ccc;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}
